.hg/
RandomGhost/Task1Key2.snk
RandomGhost/bin/
RandomGhost/obj/
SimpleGhost/Task1Key2.snk
SimpleGhost/bin/
SimpleGhost/obj/
Task1.sln.DotSettings.user
Task1/Task1Key2.snk
Task1/bin/
Task1/obj/
WaveGhost/Task1Key2.snk
WaveGhost/bin/
WaveGhost/obj/